{% extends 'base.html' %}

{% block title %}Velkommen{% endblock %}

{% block content %}
  <h1 class="text-2xl font-bold border-b border-white pt-3 pb-2 mb-2">SHqueue</h1>
  <p>
    SHqueue systemet, åpenbart uttalt som <i>"sasquash"</i>, er et køsystem for å holde orden
    og oversikt over hvem som venter på å spille et spill. Det gjør det enkelt for både crew og
    deltagere å holde oversikt over køen, og det er mulighet å integrere dette med andre systemer,
    for eksmepel infoskjermsystemet.
  </p>

  <h2 class="text-1xl font-bold pt-3 pb-1">Kom i gang</h2>
  <p>
    Hele hensikten med systemet er å gjøre det enkelt for crew å bruke og administrere diverse
    køer på Spillhuset. På venstresiden (eller ved å trykke på SHqueue øverst til venstre på telefon)
    ser du de ulike spillene som er satt opp. Her kan du også se hvor mange som er i kø og hvor lang
    ventetid det er estimert på hvert spill. Inne i en kø så ser du også informasjon om hvem som spiller,
    hvem som er i køen, hvor lenge det er til neste person m.m. - det er nok lettere om du heller går inn
    på en kø for å se selv.
  </p>

  <h2 class="text-1xl font-bold pt-3 pb-1">Test-miljø</h2>
  <p>
    Husk at det er et eget testmiljø som crew kan bruke for å teste ut systemet. Mer informasjon om
    dette testmiljøet ligger på Discord. Hvis du allerede er på testmiljø: gratulerer. Takk for at du
    ikke cucker over produksjonsmiljøet vårt.
  </p>
{% endblock %}
