version: '3.8'

services:
  wsgi:
    build: .
    command: gunicorn core.wsgi:application --bind 0.0.0.0:80 --workers 3
    restart: unless-stopped
    env_file:
      - ./.env
    depends_on:
      - db
      - redis

  asgi:
    build: .
    command: daphne core.asgi:application -b 0.0.0.0 -p 80
    restart: unless-stopped
    env_file:
      - ./.env
    depends_on:
      - db
      - redis

  db:
    image: postgres:16-alpine@sha256:a5074487380d4e686036ce61ed6f2d363939ae9a0c40123d1a9e3bb3a5f344b4
    restart: unless-stopped
    volumes:
      - ./database:/var/lib/postgresql/data
    environment:
      POSTGRES_DATABASE: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}

  redis:
    image: redis:5-alpine@sha256:1a3c609295332f1ce603948142a132656c92a08149d7096e203058533c415b8c
    restart: unless-stopped

  nginx:
    build:
      context: .
      target: runtime-nginx
    restart: unless-stopped
    ports:
      - ${PORT}:80
    depends_on:
      - asgi
      - wsgi
